<% provide(:title, "Acerca de") %>
<h1>Acerca de Catequesis</h1>
<h2>
  Esta aplicación le permite gestionar el alta y mantenimiento de los datos de
    su hijo en un grupo de catequesis

</h2>
<p>
  Esta aplicación ha sido creada sin ánimo de lucro, mediante licencia GPL 3.
  El código está disponible en github y puede utilizarlo como le convenga,
   dentro de los límites de la licencia</p>
</p>
<p>Puede encontrar el código en: <a href="https://github.com/sergio-ocon/lastablas" target="_blank"> lastablas </a>
</p>
