<% provide(:title, "Ayuda") %>
<h1>Ayuda de Catequesis - Parroquia Las Tablas</h1>
<h2>
  <p>Esta aplicación permite gestionar la inclusión de su hijo en un grupo de catequesis de la parroquia</p>
</h2>
<p>
  <ol>
    <li> Dése de alta con su aplicación, debe ser mayor de edad para hacerlo.
      <ol>
        <li> Recibirá un correo de verificación con un enlace para activar su cuenta. </li>
        <li> Siga las instrucciones del correo para dar de alta su usuario.</li>
      </ol>
    </li>
    <li> Añada a su hijo a de su perfil </li>
    <li> Verá opciones disponibles para las catequesis, elija una </li>
    <li> Las peticiones serán procesadas una a una, se comunicará la fecha en la que debe acercarse a la parroquia a firmar,
       y será ene ese momento cuando se le confirme el día y hora de las catequesis</li>
  </ol>
</p>

<h2>Contactos de la Parroquia Las Tablas</h3>
  <dl>
      <dl class="dl-vertical">
        <dt>Dirección</dt>
        <dd>Camino de Santiago,35. 28050 Madrid</dd>
      </dl>
      <dl class="dl-vertical">
          <dt>Teléfono</dt>
          <dd> 912193930 </dd>
      </dl>
      <dl class="dl-vertical">
        <dt>Email</dt>
        <dd>iglesialastablas@me.com</dd>
      </dl>
      <dl class="dl-vertical">
       <dt>Contacto </dt>
         <dd>Metro Las Tablas</dd>
       <dd>Línea 10 Metro Ligero ML1</dd>
       <dd>EMT: 172 – 176</dd>
     </dl>
  </dl>
</p>
