<h1>Insturcciones para añadir un niño</h1>
<p>Este programa está pensado para añadir niños en primer curso de catequesis, de primero de Primaria</p>
<p>
  Si quiere añadir un niño de otra edad, hable directamente con la parroquia
</p>

<%= link_to "Inicio", home_path, class:"btn btn-primary btn-lg" %>
