<div class="panel panel-default">
  
  <div style="float: left; width: 50%">
    <div class="panel-heading">
      <h3 class="panel-title"><%="Número de usuarios"%></h3>
    </div>
    <div class="panel-body">
      <div class="container-fluid">
        <p>
          <ul class="list-group">
            <li> Actualmente hay inscritos:
              <ol>
                <li> ___ usuarios. </li>
              </ol>
            </li>
        </p>
      </div>
    </div>
  </div>  

  <div style="float: left; width: 50%">
      <div class="panel-heading">
        <h3 class="panel-title"><%="Usuarios con más de un hijo"%></h3>
      </div>
      <div class="panel-body">
        <div class="container-fluid">
          <p>
            <ul class="list-group">
              <li> Actualmente hay inscritos:
                <ol>
                  <li> ___ usuarios con más de un hijo. </li>
                </ol>
              </li>
          </p>
      </div>
    </div>
  </div> 

  <div style="float: left; width: 50%">
      <div class="panel-heading">
        <h3 class="panel-title"><%="Número de catecúmenos"%></h3>
      </div>
      <div class="panel-body">
        <div class="container-fluid">
          <p>
            <ul class="list-group">
              <li> Actualmente hay inscritos:
                <ol>
                  <li> ___ catecúmenos. </li>
                </ol>
              </li>
          </p>
      </div>
    </div>
  </div>   

  <div style="float: left; width: 50%">
      <div class="panel-heading">
        <h3 class="panel-title"><%="Número de usuarios sin hijos"%></h3>
      </div>
      <div class="panel-body">
        <div class="container-fluid">
          <p>
            <ul class="list-group">
              <li> Actualmente hay inscritos:
                <ol>
                  <li> ___ usuarios sin hijos. </li>
                </ol>
              </li>
          </p>
      </div>
    </div>
  </div> 
</div> 
