<% provide(:title, 'Lista de catecúmenos') %>
<h1>Índice de catecúmenos</h1>

<%= will_paginate :previous_label => "Previo", :next_label => "Siguiente"%>
<table class="datatable table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Apellidos</th>
      <th>Curso</th>
      <th>Padre</th>
    </tr>
  </thead>
  <tbody>
      <%= render @offsprings %>
  </tbody>
</table>

<script>
  // Initialize Datatables
  $(document).ready(function() {
    $('.datatable').dataTable();
  });
</script>

<%= will_paginate :previous_label => "Previo", :next_label => "Siguiente"%>
