<% provide(:title, 'Lista de usuarios') %>
<h1>Índice de usuarios</h1>


<table class="datatable table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th>Imagen</th>
      <th>Nombre</th>
      <th>Email</th>
      <th>Teléfono</th>
      <th>Número de hijos</th>
    </tr>
  </thead>
  <tbody>
      <%= render @users %>
  </tbody>
</table>
  <script>
    // Initialize Datatables
    $(document).ready(function() {
      $('.datatable').dataTable();
    });
  </script>

<% provide(:title, "Lista de aulas") %>
    <div class="table-responsive">
      <table id= "user_table" class="datatable table table-striped table-bordered table-hover">
        <thead>
          <tr>
            <th>Aula</th>
        </thead>
        <tbody>
            <%= render @rooms %>       
        </tbody>
      </table>
</div>
