<% provide(:title, 'Lista de usuarios') %>
<h1>Índice de usuarios</h1>

<%= will_paginate @users, :previous_label => "Previo", :next_label => "Siguiente", :param_name => :users_page %>

<table class="datatable table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th>Imagen</th>
      <th>Nombre</th>
      <th>Email</th>
      <th>Teléfono</th>
      <th>Número de hijos</th>
    </tr>
  </thead>
  <tbody>
      <%= render @users %>
  </tbody>
</table>
  <script>
    // Initialize Datatables
    $(document).ready(function() {
      $('.datatable').dataTable();
    });
  </script>

<%= will_paginate @users, :previous_label => "Previo", :next_label => "Siguiente", :param_name => :users_page %>

