

<div class="list-group-item list-view-pf-stacked">
    <div class="list-view-pf-main-info">
        <div class="list-view-pf-main-info">
      <%= week_day_convert shift.day_of_week  %>


      <%= shift.start_time.to_formatted_s(:time) %>
  -

      <%= shift.end_time.to_formatted_s(:time) %>
        </div>
      <div class="list-view-pf-additional-info-item">
        Libres:
      <%= shift.room.capacity - shift.prebooked %>
      </div>
    </div>
</div>

