<p>Estimado <%= @resource.email %>:</p>

<p>Hemos recibido una petición de un enlace para cambiar su password. Puede hacerlo a través del enlace siguiente.</p>

<p><%= link_to 'Cambiar mi password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si no solicitó el cambio, simplemente ignore el email.</p>
<p>Su password no cambiará hasta que acceda al enlace y añada un password nuevo.</p>
