<p>estimado <%= @resource.email %>!</p>

<p>Su cuenta ha sido bloqueada por un número excesivo de fallos al intentar acceder.</p>

<p>Haga click en el enlace siguiente para desbloquear su cuenta:</p>

<p><%= link_to 'Desbloquear mi cuenta', unlock_url(@resource, unlock_token: @token) %></p>
